<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>DV - Index</title>
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="/assets/css/style.css" rel="stylesheet">
  <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  <style>
    body{
      background-color: black;
      color: white;
    }
  </style>
</head>
<body>
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center" style="margin-top: 200px;">
            <span style="font-size: 30px;">
              Welcome to Ott-Service
            </span>
          </div>
          <div class="col-md-12 text-center" style="margin-top: 20px;">
            <a href="/player/wmusic" class="btn btn-primary">W Music</a>
            <a href="/player/wspotify" class="btn btn-primary">W Spotify</a>
            <a href="/player/spotify" class="btn btn-primary">Spotify</a>
            <a href="https://youtube.com" class="btn btn-primary">YouTube</a>
          </div>
      </div>
  </div>
</body>
</html>
